<div class="field">
  <label>{{ label }}</label>
  <input [formControl]="control" />
  <div *ngIf="showErrors()" class="ui pointing red basic label">
    <div *ngIf="control.errors !== null">
      <p *ngIf="control.errors['required']">Value is required</p>
      <p *ngIf="control.errors['minlegth']">
        Value you entered is
        {{ control.errors["minlength"].actualLength }}
        characters long, but it must be at least
        {{ control.errors["minlength"].requiredLength }}
        characters
      </p>
      <p *ngIf="control.errors['maxlegth']">
        Value you entered is
        {{ control.errors["maxlength"].actualLength }}
        characters long, but it cannot be longer than
        {{ control.errors["maxlength"].requiredLength }}
        characters
      </p>
      <p *ngIf="control.errors['pattern']">Invalid format</p>
      <p *ngIf="control.errors['nonUniqueUsername']">This name is taken</p>
      <p *ngIf="control.errors['noConnection']"> Can't tell if username is taken</p>
    </div>
  </div>
</div>
